.env
*.pyc
__pycache__/ .env
venv/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
.env
venv/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/


CarbonFootPrint/CodeCarbon.py
Keys/
Output/
venv/
llms/__pycache__/
slms/__pycache__/
CarbonFootPrint/__pycache__/
